<div class='rebel cont'>
    <div class='col'>
        <div class='title'>
            <h1>Howdy Redass Rebels</h1>
        </div>
        <div class='body'>
            <p>Here is our webpage! I hope you enjoy!</p>
        </div>

    </div>
    
</div>


