<div class='cont col'>
    <div class="cont col miss">
        <h1 class="cent">Our Mission</h1>
        <p  class="cent">Your mission, should you choose to accept it, is to build this redass rebel-e website for good bull scroggy.</p>

    </div>

    
    <%= image_tag "E2Creed.PNG", class:"creed"%>


</div>

